/* Hỗ trợ viết css cho trang gallery */
#section-gallery {
    /* cách lề trên cùng và dưới cùng của trang thành nội dung riêng biệt */
    padding-top: 20em;
    padding-bottom: 10em;
    background: var(--bs-body-bg);

    /* thiết lập bố cục hình ảnh khi hiển thị */
    #lightgallery {
        display: flex;
        /* làm cho hình trên 1 hàng hoặc xuống hàng */
        flex-wrap: wrap;

        /* hỗ trợ lăn chuột hình ảnh */
        max-height: 750px;
        overflow: auto;

        /* ghi đè css gallery_product ở trang chủ style.css */
        .gallery_product {
            margin: 0;
            padding: 16px;
            text-align: center;
        }
    }

    .gallery-title {
        font-size: 36px;
        color: var(--primary-color);
        text-align: left;
        font-weight: 500;
        margin-bottom: 30px;
    }

    /* .gallery-title:after {
        content: "";
        position: absolute;
        width: 7.5%;
        left: 46.5%;
        height: 45px;
        border-bottom: 1px solid #5e5e5e;
    } */
    .filter-button {
        font-size: 18px;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        text-align: center;
        color: var(--primary-color);
        margin-bottom: 30px;
    }

    .filter-button:hover {
        font-size: 18px;
        border: 1px solid var(--primary-color);
        border-radius: 5px;
        text-align: center;
        color: #ffffff;
        background-color: var(--primary-color);

    }

    .btn-default:active .filter-button:active {
        background-color: var(--primary-color);
        color: white;
    }
}